<!DOCTYPE html> <!-- !DOCTYPE html是宣告這個網頁是基於HTML5所寫的 -->
<html> <!-- html為網頁的起始標籤，其內包含了表頭head及內容body兩部分 -->
<!---->
<!-- head為網頁的表頭，通常將CSS、引用bootstrap、jquery等meta data，以及javascript函數放在表頭內 -->
<!---->
<head> 
	<title>數學運算服務操作介面</title>
	<!-- 以下這5行是引用bootstrap及jquery CDN (Content Delivery Network)的標準動作 -->
	 <meta charset="utf-8"> <!-- 指定內文的編碼，若要顯示中文，通常用utf-8這個unicode編碼 -->
	 <meta name="viewport" content="width=device-width, initial-scale=1">
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	 
	<!-- 以下這個匿名函數是jquery的ready事件處理方法，當網頁Ready好的就會自動執行 -->
	<!-- 因此，可以把要註冊的所有事件處理函數及需要先執行的命令放在這個函數內 -->
	<script>
		$(function(){
		    // 幫id為btn1的按鈕標籤註冊了點擊事件的處理方法
			// 在jquery及nodejs通常會使用匿名函數作為事件處理方法，比較簡潔
			$('#btn1').click(function(){
				$.post(
					'/math/' + $('#num1').val() + '/' + $('#num2').val() + '/1',
					function(data){
						$('#result').val(data.result);
					}
				);
			});
			
			// 幫id為btn2的按鈕標籤註冊了點擊事件的處理方法
			$('#btn2').click(function(){
				$.post(
					'/math/' + $('#num1').val() + '/' + $('#num2').val() + '/2',
					function(data){
						$('#result').val(data.result);
					}
				);
			});
			
			// 幫id為btn3的按鈕標籤註冊了點擊事件的處理方法 -->
			$('#btn3').click(function(){
				$.post(
				    '/math/' + $('#num1').val() + '/' + $('#num2').val() + '/3',
					function(data){
						$('#result').val(data.result);
					}
				);
			});
			
			// 幫id為btn4的按鈕標籤註冊了點擊事件的處理方法
			$('#btn4').click(function(){
				$.post(
					'/math/' + $('#num1').val() + '/' + $('#num2').val() + '/4',
					function(data){
						$('#result').val(data.result);
					}
				);
			});
						
			// 幫id為btn5的按鈕標籤註冊了點擊事件的處理方法
			$('#btn5').click(function(){
				 window.location.href = '/';
			});
		})		
	</script>
</head>
<!---->
<!-- body為網頁的內容，也就是呈現使用者介面UI的地方 -->
<!---->
<body class="bg-warning" style="font-family:標楷體">
<div class="container">
	<!-- 數學運算服務之GUI設計 -->
	<Center>
	<h3 class="bg-primary"><b>數學運算服務操作介面</b></h3>
	<div> 
	    <h4>
		<b class="text-primary">數字1:</b> <input type="text" id="num1"> <br/>
		<b class="text-primary">數字2:</b> <input type="text" id="num2"> <br/>
		<b class="text-primary">結 果:</b> <input type="text" id="result"><br/>
		<button id="btn1" class="btn btn-success btn-lg"><b>相加</b></button>
		<button id="btn2" class="btn btn-success btn-lg"><b>相減</b></button>
		<button id="btn3" class="btn btn-success btn-lg"><b>相乘</b></button>
		<button id="btn4" class="btn btn-success btn-lg"><b>相除</b></button>
	    </h4>
	</div>
	
	<!-- 回首頁按鈕 -->
	<center>
	<div> 
		<button id="btn5" class="btn btn-info btn-md"><b>回首頁</b></button>
	</div>
	</center>
	
</div>
</body>
</html>